*{
  box-sizing: border-box;
}

body{
  margin:0;
}

header {
  height:10vh;
  border:2px solid pink;
  display:flex
  align-items:center;
  justify-content:space-between;
       }

header>nav>ul{
  display:flex;
  list-style:none;
  margin-left:0;
  gap 8px;
}

main{
  height:90vh;
  border: 2px solid blue;
  display:flex;
  justify-content: center;
  align-items:center;
}

