body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form h2 {
  color: #442CDC;
  margin-bottom: 20px;
}

.signup-form input {
  width: 85%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.signup-form button {
  background-color: #442CDC;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #311DAE;
}

.hide {
  display: none;
}

.failure-message {
  color: red;
  font-size: medium;
}

.success-message {
  color: green;
  font-size: medium;
}