#main-page {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#ebeced;
}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:10px;
  max-width: 1000px; /* 카드가 너무 넓어지는 것을 방지하기 위한 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}
.card{
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: calc(15% - 5px); /* 5개씩 정렬하기 위한 너비 계산 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}



.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b30c0;
  padding:10px 20px;
}
.header a{
  color:white; 
}
a {
  text-decoration: none;
}
.logo {
  font-size:24px;
}
footer{
  background-color:#5b30c0;
  padding:39px;
  color:white;
}

.login_card{
  background-color:white;
  padding: 20px;
  margin: 10px;
  width:fit-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; 
}
button{
  background-color: #5b30c0;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #b2a8c2;
}

.login_page{
  display: flex;
   align-items: center; 
  justify-content: center;
  min-height: 100vh;
}
